{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Contact Us</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


  </head>

  <body>
    <h1>CONTACT US</h1>
    <form  id="contactForm" method="post"  >
              {% csrf_token %}
              <div>
              <label class="control-label col-sm-2" for="name">Name:</label>
              <input id='name' type="text" class="form-control" placeholder="Your Name"  >
              <span id="nameerror" class="text-danger font-weight-bold"></span>
              </div>
              <div>
                <label class="control-label col-sm-2" for="email">Email:</label>
                <input id='email' type="text" class="form-control" placeholder="example@xyz.com" >
              <span id="emailerror" class="text-danger font-weight-bold"></span>
              </div>
              <div>
                <label class="control-label col-sm-2" for="number">Mobile number:</label>
                <input id='number' type="text" class="input-field" placeholder="10 digit mobile number" >
                <span id="numbererror" class="text-danger font-weight-bold"></span>
              </div>
              <div>
              <textarea id='Description' class="textarea-field" placeholder="Your message (min 20 charecters)"></textarea >
                <span id="descriptionerror" class="text-danger font-weight-bold"></span>
              </div>
              <button  id="subbt" class="btn btn-primary">Submit</button>
              <span id="success" class="text-danger font-weight-bold"></span>



            </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>